code {
  color: var(--text-color-accent-terminal);
  font-size: 14px;
}

.terminal__body {
  font-family: var(--font-terminal);
  color: var(--text-color-terminal);
  padding: 8px;

}

.terminal__banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: var(--text-color-terminal);

  .terminal__author {
    text-align: right;
  }
}

.terminal__line {
  margin-bottom: 8px;

  &::before {
    content: "Iulian STAN ~$ ";
    color: var(--text-color-username);
  }

  input[type="text"] {
    background: none;
    border: none;
    font-family: var(--font-terminal);
    color: var(--text-color-terminal);
    outline: none;
    font-size: 15px;
    width: calc(100% - 150px);
  }
}

.terminal__response {
  margin: 8px 0 16px 0;

  table {
    border: 1px dashed;
    padding: 4px;
    width: 100%;

    a {
      text-decoration: none;
      color: var(--text-color-link-terminal);
    }

    thead {
      th {
        font-weight: normal;
        color: cadetblue;
        border-bottom: 1px solid white;
        padding-bottom: 4px;
      }
    }

    tbody {
      td {
        padding: 4px;
      }

      tr:not(:last-child) {
        td {
          border-bottom: 1px solid white;
        }
      }
    }
  }
}