/*--------------------------------------------------------------
# project Section
--------------------------------------------------------------*/
.projects {
  --background-color: color-mix(in srgb, var(--accent-color), transparent 95%);
}

.projects .project_filters {
  padding: 0;
  margin: 0 auto 20px auto;
  list-style: none;
  text-align: center;
}

.projects .project_filters li {
  cursor: pointer;
  display: inline-block;
  padding: 0;
  font-size: 14px;
  font-weight: 400;
  margin: 0 10px;
  line-height: 1;
  text-transform: uppercase;
  margin-bottom: 10px;
  transition: all 0.3s ease-in-out;
}

.projects .project_filters li:hover,
.projects .project_filters li.filter_active {
  color: var(--accent-color);
}

.projects .project_filters li:first-child {
  margin-left: 0;
}

.projects .project_filters li:last-child {
  margin-right: 0;
}

@media (max-width: 575px) {
  .projects .project_filters li {
    font-size: 14px;
    margin: 0 5px;
  }
}

.projects .project_content {
  position: relative;
  overflow: hidden;
}

.projects .project_content img {
  transition: 0.3s;
}

.projects .project_content .project_info {
  opacity: 0;
  position: absolute;
  inset: 0;
  z-index: 3;
  transition: all ease-in-out 0.3s;
  background: rgba(0, 0, 0, 0.6);
  padding: 15px;
}

.projects .project_content .project_info h4 {
  font-size: 14px;
  padding: 5px 10px;
  font-weight: 400;
  color: #ffffff;
  display: inline-block;
  background-color: var(--accent-color);
}

.projects .project_content .project_info p {
  position: absolute;
  bottom: 10px;
  text-align: center;
  display: inline-block;
  left: 0;
  right: 0;
  font-size: 16px;
  font-weight: 600;
  color: rgba(255, 255, 255, 0.8);
}

.projects .project_content .project_info a {
  position: absolute;
  left: calc(50% - 55px);
  font-size: 26px;
  top: calc(50% - 14px);
  color: #fff;
  line-height: 1.2;
}

.projects .project_content .project_info a:nth-of-type(2) {
  left: 50%;
}

.projects .project_content .project_info a i {
  position: relative;
  color: #fff;
  margin: 0 13px;
}
 
.projects .project_content .project_info a i::before {
  position: relative;
  z-index: 1
}

.projects .project_content .project_info a i::after {
  position: absolute;
  content: "";
  left: -6px;
  top: -7px;
  width: 40px;
  height: 40px;
  border: 1px solid #fff;
  border-radius: 3px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg)
}

.projects .project_content .project_info a i:hover {
  color: #fff
}

.projects .project_content .project_info a:nth-of-type(2) i::after {
  left: -4px;
}

.projects .project_content .project_info a:hover i::after {
  background-color: var(--accent-color);
  border: transparent;
  z-index: 0;
}

.projects .project_content:hover .project_info {
  opacity: 1;
}

.projects .project_content:hover img {
  transform: scale(1.1);
}
