/* Externals */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
@import '~boxicons/css/boxicons.min.css';

/* Root Variables  */
:root {
  --border-radius: 5px;
  --header-height: 3rem;

  /* Colors */
  --text-color-title: #0B0A0A;
  --text-color: #403A3A;
  --text-color-light: #707070;

  --bg-color-container: #FAFAFA;
  --bg-color-container-alt: #F0EFEF;
  --bg-color-body: #FCFCFC;

  --text-color-terminal: #fff;
  --text-color-accent-terminal: darksalmon;
  --text-color-link-terminal: darkorange;
  --text-color-username: cadetblue;

  --bg-color-1: #f27121;
  --bg-color-2: #e94057;
  --bg-color-3: #8a2387;
  --bg-color-1-social: #f3a183;
  --bg-color-2-social: #ec6f66;
  --bg-color-window-body: rgba(56, 4, 40, 0.9);
  --bg-color-window-header: #bbb;

  /* Font and typography */
  --font-body: 'Poppins', sans-serif;
  --font-terminal: 'Ubuntu Mono', monospace;

  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: .938rem;
  --small-font-size: .875rem;
  --smaller-font-size: .813rem;

  /* Font weight */
  --font-medium: 500;
  --font-semi-bold: 600;

  /* Margins */
  --mb-1: .5rem;
  --mb-2: 1rem;
  --mb-3: 1.5rem;

  /* z index */
  --z-tooltip: 10;
  --z-fixed: 100;
}

/* Globals */
* {
  margin: 0;
}

body {
  /* fallback for old browsers */
  background: var(--bg-color-3);
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right, var(--bg-color-1), var(--bg-color-2), var(--bg-color-3));
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, var(--bg-color-1), var(--bg-color-2), var(--bg-color-3));

  height: 100vh;
  overflow: hidden;

  &.dark-mode {
    --title-color: #F2F2F2;
    --text-color: #BFBFBF;
    --bg-color-container: #212121;
    --bg-color-container-alt: #181616;
    --bg-color-body: #2B2B2B;

    --text-color-accent-terminal: #ffca85;
    --text-color-link-terminal: burlywood;
    --text-color-username: #858585;
    --bg-color-1: #211F20;
    --bg-color-2: #292D34;
    --bg-color-3: #213030;
    --bg-color-1-social: #414141;
    --bg-color-2-social: #485461;
    --bg-color-window-body: rgb(0 0 0 / 90%);
    --bg-color-window-header: #585252;

    &.firework {
      --bg-color-window-body: rgb(0 0 0 / 15%);
    }
  }
}

.halloween-bg {
  position: fixed;
  top: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  object-fit: cover;
  object-position: top;
  opacity: .5;
  filter: saturate(1.5) brightness(1.2);
}

body:not(.dark-mode) .halloween-bg {
  opacity: .8;
}

/* Show menu */
.show-menu {
  bottom: var(--header-height);
}

/* Active menu link */
.active-link {
  color: var(--title-color);
}

/* Scroll top */
.scrolltop {
  position: fixed;
  right: 1rem;
  bottom: -20%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: .3rem;
  background-color: var(--bg-color-container-alt);
  border-radius: .4rem;
  z-index: var(--z-tooltip);
  transition: .4s;
  visibility: hidden;
}

.scrolltop__icon {
  font-size: 1.2rem;
  color: var(--text-color);
}

.show-scroll {
  visibility: visible;
  bottom: 5rem;
}

/*========== MEDIA QUERIES ==========*/
/* For small devices, menu two columns */
@media screen and (max-width: 320px) {
  .nav__list {
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem .5rem;
  }
}

/* Classes modified for large screen size */
@media screen and (min-width: 968px) {
  .l-header,
  .scrolltop {
    display: none;
  }

  .resume {
    display: grid;
    grid-template-columns: .5fr 1fr;
    background-color: var(--bg-color-container);
    box-shadow: 0 0 8px rgba(13, 12, 12, .15);
  }

  .resume__left {
    background-color: var(--bg-color-container-alt);
  }

  .resume__left,
  .resume__right {
    padding: 0 1.5rem;
  }

  .generate-pdf {
    display: inline-block;
  }

  .section-title,
  .profile__description {
    text-align: initial;
  }

  .home__container {
    gap: 1.5rem;
  }

  .home__button-mobile {
    display: none;
  }

  .references__conrainer {
    grid-template-columns: repeat(2, 1fr);
  }

  .languages__content {
    grid-template-columns: repeat(3, max-content);
    column-gap: 3.5rem;
  }

  .interests__container {
    grid-template-columns: repeat(4, max-content);
    column-gap: 3.5rem;
  }
}